*{
	font-family: 'Open Sans';
}

.red{
	color: red
}

#main_container{
	width: 400px;

	#title{
		font-weight: 100;
		text-align: center;
		font-size: 300%;
		margin: 0;
	}

	#search_container{
		padding: 15px 15px;
		font-size: 0;

		#username_input, #search{
			border-radius: 3px;
			box-sizing: border-box;
			border: 1px solid #ccc;
		}

		#username_input{ 
			width: 70%; 
			padding: 10px;
		}
		#search{ 
			width: 26%;
			margin-left: 4%;
			padding: 10px 0px;
			cursor: pointer;
			background-color: #ddd;
		}
		#search:hover{
			background-color: #ccc;
		}
	}
}

.centered{
	margin: auto;
	position: absolute;
	top: 15%;
	left: 0px;
	right: 0px;
}
